.filterBar{
  align-self: self-start;
    padding: 15px;
    border-radius: 15px;
    background-color: var(--dark-foreground);
    box-shadow: rgba(0, 0, 0, 0.473) 0px 3px 6px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.filterBar__line{
    width: 70%;
    margin: 2px auto;
    border-top: solid var(--dark-background) 1px;
    border-left: solid transparent 1px;
    border-right: solid transparent 1px;
    border-bottom: solid var(--dark-background) 1px;
}


.filterBar__rechercher{
    background-color: var(--button-green);
    font-family: montserrat;
    font-weight: 400;
    color: var(--dark-text);
    padding: 10px 30px;
    width: fit-content;
    justify-self: center;
  }
  .filterBar__rechercher:hover{
    background-color: #0d9418;
  }
  .filterBar__rechercher:active{
    background-color: #0f5513;
  }