.switch {
    display: flex;
    flex-direction: row;
    user-select: none;
    gap: 5px;
}

.switch__element,
.switch__element--checked {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    width: 50%;
    border-radius: 10px;
    padding: 5px 0px;
    transition: background-color 0.3s, border-color 0.3s;
}

.switch__element {
    border-color: transparent;
}

.switch__element--checked {
    background-color: var(--dark-background);
}

.switch__element:hover {
    background-color: rgba(0, 215, 223, 0.075);
}
.switch__element:active{
    background-color: var(--accent-blue);
}
.switch__element__name {
    font-family: figTree;
    font-size: 14px;
    color: var(--dark-text);
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 60%;
}

.switch__element__icon {
    width: 30px;
}