.annonce {
    align-self: center;
    background-color: var(--dark-foreground);
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: #00000080 0px 3px 5px;
    width: 100%;
    max-width: 1000px;
    margin-bottom: 10px;
}

.annonce__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    margin-bottom: 10px;
}

.annonce__header__creator {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.annonce__header__creator__image {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.annonce__header__creator__username {
    color: var(--accent-blue);
    cursor: pointer;
    font-weight: 600;
    font-family: figTree;
}

.annonce__header__creator__date {
    color: var(--gray);
    font-family: figTree;
}

.annonce__header__favorite {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: scale 0.3s;
}

.annonce__header__favorite:hover {
    scale: 1.2;
}

.annonce__header__favorite:active {
    scale: 1;
}

.annonce__body {
    display: grid;
    column-gap: 10px;
}

.annonce__body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.demmande-middle-template {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.annonce__image {
    width: 320px;
    height: 320px;
    border-radius: 10px;
    grid-row-start: 1;
    grid-row-end: 3;

}

.annonce__info__brand {
    color: var(--accent-blue);
    font-weight: 700;
    display: block;
    font-family: figTree;
}

.annonce__info__title {
    font-size: 26px;
    font-weight: 700;
    color: var(--dark-text);
    font-family: figTree;
}

.annonce__info__description--image {
    height: 4.8em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: figTree;
    color: var(--dark-text);
    margin-bottom: 10px;
}

.annonce__info__description {
    height: 320px;
    max-height: 320px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: figTree;
    color: var(--dark-text);
}


.annonce__info__lieux {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
    margin: 10px 0px 5px 0px;
}

.annonce__info__tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;

}

.annonce__info__tiles__tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
}

.annonce__info__tiles__tile__icon {
    width: 30px;
    margin-right: 5px;
}
.annonce__info__tiles__tile__data__title{
    font-family: figTree;
    color: var(--dark-text);
    font-size: 14px;
    font-weight: 200;
}
.annonce__info__tiles__tile__text,
.annonce__info__tiles__tile__data__value {
    font-family: figTree;
    color: var(--dark-text);
    font-size: 16px;
    font-weight: 700;
    width: 80%;
}

.annonce__footer {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.annonce__footer__stats {
    display: flex;
    justify-content: space-between;
}

.annonce__footer__stats__note {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.annonce__footer__stats__note__star {
    width: 25px;
    margin: 0px 2px;
}


.annonce__footer__stats__note__total,
.annonce__footer__stats__comments__total {
    font-family: figTree;
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-text);
    margin-left: 6px;
}

.annonce__footer__stats__comments {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.annonce__footer__stats__comments__icon {
    width: 20px;
}



.annonce__footer__arrow {
    width: 30px;
    cursor: pointer;
    justify-self: right;
}

.annonce__info__dommaines {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.annonce__info__dommaines__domaine {
    background-color: var(--dark-background);
    border: solid 1px white;
    text-align: center;
    border-radius: 10px;
    padding: 5px 20px;
    color: var(--dark-text);
    font-family: Figtree;
    font-size: 14px;
    font-weight: 500;
    margin: 8px 5px 0px 0px;
}