.step__media__header{
    display: flex;
    gap: 10px;
}
.step__media__add{
    padding:0px 10px;
}
.step__recap__media__grid,
.step__media__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 20px;
    
}


.step__recap__media__grid{
    margin-top: 20px;
    margin-bottom: 20px;
}
.step__media__grid{
    margin-top: 40px;
    margin-bottom: 20px;
}


.step__recap__media__image,
.step__media__grid__image {
    display: grid;
    grid-template-columns: 1fr;
    width: 150px;
    height: 150px;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: var(--gray);
    border-radius: 10px;
    background-size: cover;
    overflow: hidden;
    border-width: 1px;
    transition: border-color 0.3s, border-width 0.1s, scale 0.3s;
}
.step__recap__media__image,
.step__media__grid__image{
    cursor: pointer;
}
.step__recap__media__image,
.step__recap__media__image--main{
    cursor:default;
}
.step__recap__media__image--main,
.step__media__grid__image--main{
    grid-template-rows: 15% 85%;
}

.step__media__grid__image:hover{
    border-width:4px;
    border-color: tomato;
    scale: 1.1;
}

.step__media__grid__image:active{
    scale: 1;
}

.step__media__grid__image::after{
    content: '';
    background-image: url('./../../../Assets/images/delete.png');
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    place-self: center;
    opacity: 0.8;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: tomato;
    scale: 0.5;
    transform: rotate(180deg);
    translate: 0px 100px;
    transition: opacity 0.3s, transform 0.3s, translate 0.3s, scale 0.3s;
}
.step__media__grid__image:hover::after{
    transform: rotate(0deg);
    translate: 0px 0px;
    opacity: 1;
    scale: 1;
}


.step__recap__media__image--main::before,
.step__media__grid__image--main::before{
    content: "PRINCIPALE";
    font-family: figTree;
    color: var(--dark-text);
    background-color: var(--accent-blue);
    padding: 1px 6px;
    border-radius: 5px;
    font-size: 12px;
    justify-self: center;
}