.pub-dialog-box {
	color: var(--dark-text);
	width: 50%;
	background-color: var(--dark-foreground);
	box-shadow: rgba(0, 0, 0, 0.473) 0px 3px 6px;
	border-radius: 15px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	font-family: Figtree;
	padding: 20px;
}

.pub-dialog-box__question {
	grid-column-start: 1;
	grid-column-end: 3;
	justify-self: center;
	margin: 20px;
}

.pub-dialog-box__option {
	text-align: center;
	border-radius: 15px;
	margin: auto;
	padding: 20px;
	width: 80%;
	cursor: pointer;
	transition: background-color 0.3s, border-color 0.2s, color 0.3s;
	border: solid transparent 2px;
	user-select: none;
}

.pub-dialog-box__option:hover {
	background-color: var(--dark-background);

}

.pub-dialog-box__option:active {
	border-color: var(--accent-blue);
	color: var(--accent-blue);
}

.creation-body-container {
	width: 1000px;
	margin: auto;
	padding: 50px 0px 20px;

}


.stepBar {
	width: 100%;
}

.stepBar svg {
	width: 100%;
}

.stepBar__names {
	width: 100%;
	margin: auto;
}

.stepBar__names__name {
	width: 12.5%;
	text-align: center;
	font-family: Figtree;
	font-size: 14px;
	font-weight: 700;
	user-select: none;
}


.step {
	margin-top: 20px;
	background-color: var(--dark-foreground);
	border-radius: 15px;
	box-shadow: #00000080 0px 3px 5px;
	padding: 20px 30px;
}


.step__title {
	font-family: figTree;
	font-size: 26px;
	color: var(--dark-text);
}

.step__subTitle {
	color: var(--accent-blue);
	font-size: 20px;
	font-family: figTree;
}

.step__line {
	width: 70%;
	margin: 10px auto;
	border-top: solid var(--dark-background) 1px;
	border-left: solid transparent 1px;
	border-right: solid transparent 1px;
	border-bottom: solid var(--dark-background) 1px;
}

.step__input__text {
	font-size: 22px;
	padding: 8px 14px;
	background-color: var(--dark-background);
	color: var(--dark-text);
}

.step__input__text:focus {
	outline-color: var(--accent-blue);
	color: var(--dark-text);
}


.buttons {
	width: 30%;
	margin: 20px auto 0px auto;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}



.buttons__next{
	padding: 10px;
	font-family: montserrat;
	font-size: 16px;
}

.buttons__previous{
	font-family: montserrat;
	color: var(--dark-text);
	font-weight: 400;
	cursor: pointer;
	transition: color 0.3s;
}
.buttons__previous:hover{
	color: var(--accent-blue);
}


.step__option{
	display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    background-color: var(--dark-background);
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border: solid 2px transparent;
    transition: scale 0.2s, border-color 0.5s, background-color 0.3s;
}
.step__option:hover{
	background-color: rgb(4 70 141 / 0.20);
    scale: 1.015;
}
.step__option--selected{
	border-color: var(--accent-blue);
    background-color: rgb(4 70 141 / 0.40);
}

.step__option__icon{
	width: 50px;
}

.step__option__info__title{
	color: var(--dark-text);
	font-family: figTree;
}

.step__option__info__description{
	color: var(--gray);
	font-family: figTree;
}



.step__origine__option-etranger{
	display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    user-select: none;
    cursor: pointer;
    border: solid 2px var(--accent-blue);
    transition: scale 0.2s, border-color 0.5s, background-color 0.3s;
    background-color: rgb(4 70 141 / 0.40);

}




.step-inner-container ut[type="text"] {
	padding: 10px 20px;
	font-size: 20px;
	margin: 10px 0px;
}

.step__paragraph {
	color: var(--gray);
	font-family: figTree;
}

