.checkbox {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: center;
  user-select: none;
  gap: 5px;
}

.checkbox__icon {
  width: 20px;
  cursor: pointer;
  user-select: none;
}

.checkbox__label {
  font-family: figTree;
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-text);
  user-select: none;
}