.tree {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: 15px 20px auto;
    align-items: center;
    grid-row-gap: 5px;

}

.tree__triangle {
    width: 0px;
    height: 0px;
    border-top: solid 8px transparent;
    border-left-style: solid;
    border-left-width: 8px;
    border-left-color: var(--dark-text);
    border-right: solid 8px transparent;
    border-bottom: solid 8px transparent;
    box-sizing: content-box;
    transform: rotate(0deg);
    translate: 0px 0px;
    transition: translate 0.2s, transform 0.2s, border-left-color 0.3s;
}

.tree__triangle:hover {
    border-left-color: var(--accent-blue);
}

.tree__triangle--open {
    transform: rotate(90deg);
    translate: -5px 4px;
    transition: transform 0.2s, translate 0.2s;
}

.parent {
    grid-column-start: 2;
    grid-column-end: 4;
}

.line {
    width: 2px;
    height: 100%;
    background-color: var(--gray);
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}

.line--hidden {
    display: none;
}

.children {
    display: flex;
    grid-column-start: 3;
    grid-column-end: 4;
    flex-direction: column;
    gap: 5px;
}

.children--closed {
    display: none;
}

