/*Container*/
.navbar {
    display: grid;
    grid-template-columns: 20% 2fr 12% auto auto auto 20%;
    background-color: var(--dark-foreground);
    box-shadow: #00000080 0px 3px 5px;
    color: var(--dark-text);
    align-items: center;
    padding: 5px 0px;
}
/*Logo*/
.navbar__logo {
    height: 40px;
    justify-self: center;
    cursor: pointer;
}
/*Pages*/
.navbar__pages{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navbar__pages__page {
    font-family: figTree;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color 0.5s, color 0.5s;
}

.navbar__pages__page:hover {
    border-bottom-color: var(--accent-blue);
    color: var(--accent-blue);
}

/*publish button*/
.navbar__publish{
    padding: 10px 15px;
    background-color: var(--button-green);
    color: var(--dark-text);
    font-family: montserrat;
    font-weight: 400;
    letter-spacing: 2px;
    transition: scale 0.2s;
}
.navbar__publish:hover{
    background-color: green;
}
.navbar__publish:active{
    background-color: darkgreen;
    scale: 0.98;
}

/*search, notification, messages icons*/
.navbar__search, .navbar__notifications, .navbar__messages{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
    background-size: cover;
    cursor: pointer;
    transition: scale 0.2s;
}
.navbar__search:hover, .navbar__notifications:hover, .navbar__messages:hover{
    scale: 1.1; 
}
.navbar__search:active, .navbar__notifications:active, .navbar__messages:active{
    scale: 0.9; 
}

.navbar__messages{
    background-image: url('../Assets/images/icons/navBar/messenger.png');
}
.navbar__notifications{
    background-image: url('../Assets/images/icons/navBar/bell.png');
}
.navbar__search{
    background-image: url('../Assets/images/icons/navBar/loupe.png');
}

.navbar__messages::after, .navbar__notifications::after{
    background-color: tomato;
    font-family: figTree;
    font-size: 14px;
    border-radius: 50%;
    padding: 3px;
    width: 15px;
    height: 15px;
    color: var(--dark-text);
    font-weight: bold;
    position: relative;
    display: inline-block;
    top: 20px;
    left: 20px;
    text-align: center;
}
.navbar__messages::after{
    content: "10";
}
.navbar__notifications::after{
    content: "3";
}

/*Account*/
.navbar__account {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 20px;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    gap: 10px;
    width: fit-content;
    max-width: 100%;
    padding: 5px 5px;
    font-family: figTree;
    white-space: nowrap;
    transition: background-color 0.3s;
}

.navbar__account:hover {
    background-color: var(--hover-blue);
}

.navbar__account:active {
    background-color: var(--active-blue);
}

.navbar__account__username {
    cursor: pointer;
}

.navbar__account__image {
    width: 40px;
    height: 40px;
}