* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: figTree;
  src: url(../Fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../Fonts/Montserrat-VariableFont_wght.ttf);
}

body {
  background-color: var(--dark-background);
}

.button {
  border: none;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

:root {
  --dark-background: #08152A;
  --dark-foreground: #050D1A;
  --dark-text: #E4E7EB;
  --hover-blue: rgb(4 70 141 / 0.20);
  --active-blue:rgba(20, 113, 212, 0.2);
  --button-green: #1b7524;
  --accent-blue: #108DDE;
  --gray: #707070;
}

.offres_demmandes_page_template{
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
  column-gap: 10px;
}
.annonces{
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}


.input-text {
  background-color: var(--backGround-blue);
  font-family: figTree;
  color: var(--text-white);
  outline: none;
  border: none;
  border-radius: 10px;
  outline: solid 1px transparent;
  transition: outline-color 0.3s, color 0.3s;
}

.input-text:focus {
  outline-color: var(--light-blue);
  color: var(--text-white);
}

.textArea {
  background-color: var(--backGround-blue);
  font-family: figTree;
  color: var(--text-white);
  outline: none;
  border: none;
  border-radius: 10px;
  outline: solid 1px transparent;
  transition: outline-color 0.3s;
  resize: none;
}

.textArea:focus {
  outline-color: var(--light-blue);
}